{% extends "informant/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Złe dane formularza. Spróbuj ponownie.</p>
    {% endif %}
    <h2>Zarejestruj się</h2>
    <p>Hasło musi mieć minimum 8 znaków i nie składać się z samych cyfr!</p>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
            </p>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Zarejestruj</button>
    </form>
{% endblock %}