{% load static %}
<html>
    <head>
        <title>Powiadomienia dotyczące komunikacji miejskiej we Wrocławiu</title>      
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/informant.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container main">
            <div class="page-header">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="top-menu"><i class="fa fa-plus"></i></a>
                {% endif %}
                <h1>
                    <a href="/">Powiadomienia dotyczące komunikacji miejskiej we Wrocławiu</a>
                </h1>
            </div>
            
            <div class="content container">
                <div class="row">
                    <div class="col-md-10 pb-3">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>