<html>
    <head>
        <title>Powiadomienia dotyczące komunikacji miejskiej we Wrocławiu</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Powiadomienia dotyczące komunikacji miejskiej we Wrocławiu</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>opublikowano: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>