<html>
    <head>
        <title>Powiadomienia dotyczące komunikacji miejskiej we Wrocławiu</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Powiadomienia dotyczące komunikacji miejskiej we Wrocławiu</a></h1>
        </div>

        <div>
            <p>opublikowano: 05.06.2019, 12:14</p>
            <h2><a href="">Niedziałające tramwaje na ul. Legnickiej</a></h2>
            <p>Po raz kolejny trakcja umarła, nie wiadomo jak długo zajmą naprawy.</p>
        </div>

        <div>
            <p>opublikowano: 05.06.2019, 16:35</p>
            <h2><a href="">Tramwaje na ul. Legnickiej jeżdżą już zgodnie z rozkładem.</a></h2>
            <p>Szczury przegryzły kable, ale szybko udało się opanować sytuację.</p>
        </div>
    </body>
</html>